<!--Comments Section -->
    <!--comments wrapper -->
    <div class="mt-5 mb-5">
        <hr>
        <!--Comments Section Toggle -->
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
            <strong>View Comments</strong>
          </button>
        </p>
        <div class="collapse" id="collapseComments">
          <div class="card card-body">
            <!--New Comment Button -->
            <p>
              <button class="btn btn-success" role="button" data-toggle="collapse" data-target="#collapseNewComment" aria-expanded="false" aria-controls="collapseNewComment"> 
              +New Comment
              </button>
            </p>
            <!--New Comment Input -->
            <div class="collapse" id="collapseNewComment">
              <div class="card card-body mb-4">
                <!--New Comment Form -->
                <form action="/blogs/<%= blog._id %>/comments" method="POST">
                  <div class="form-group">
                    <label for="authorInput">
                      <p><strong>Author</strong></p>
                    </label>
                    <input type="text" class="form-control" id="authorInput" placeholder="John Smith" name="comment[author]">
                  </div>
                  <div class="form-group">
                    <label for="contentInput">
                      <p><strong>Your Thoughts...</strong></p>
                    </label>
                    <textarea class="form-control" id="contentInput" rows="3" placeholder="Comment goes here..." name="comment[content]"></textarea>
                  </div>
                  <span>
                    <button type="submit" class="btn btn-primary">
                    Submit
                    </button>
                    <button type="button" class="btn btn-outline-danger role="button" data-toggle="collapse" data-target="#collapseNewComment" aria-controls="collapseNewComment"">
                    Cancel
                    </button>
                  </span>
                </form>
              </div>
            </div>
            <!--Comments Loop -->
            <% blog.comments.forEach((comment) => { %>
                <p><strong><%= comment.author %></strong><em class="text-muted"> - <%= comment.date.toDateString() %></em></p>
                <p><%= comment.content %></p>
            <% }); %>   
          </div>
        </div>        
    </div>