<nav class="navbar navbar-dark bg-darker pb-4" > 
  
  <div class="container-xl bg-darker pt-2 footer-wrapper">
    
      <p class="footer-text">Copyright &copy; 2020 - Made with ☕ by <a href="https://ncoughlin.com" target="_blank"> Nick Coughlin</a></p>
      <a href="https://ncoughlin.com" target="_blank" class="ml-2"> <img src="/images/ncoughlin_logo_2020_light.svg" class="footer-logo"></a>
      
      <a href="https://github.com/ncoughlin/frosty" target="_blank" class="push"><img src="/images/github_logo_white.svg" class="footer-social-logo"></a>
    
  </div>  
    
</nav>  