<!-- Spacer -->
<div class="footer-spacer mt-5 mb-5">
</div>
<!-- Site footer -->
  <footer class="site-footer mt-5">
      <div class="container-lg mt-5">
        <div class="row pt-4">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Frosty is a blog CMS built with Node, Express, EJS, MongoDB, Mongoose and Passport. It was built primarily as a portfolio piece and learning tool.</p>
          </div>

          <div class="col-sm-12 col-md-6">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="https://ncoughlin.com">ncoughlin.com</a></li>
              <li><a href="https://github.com/ncoughlin/frosty">GitHub Repo</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 - Made with &#9829 by 
         <a href="https://ncoughlin.com">Nick Coughlin</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a href="https://github.com/ncoughlin/frosty" target="_blank">
                  <img src="/images/github_logo_white.svg" class="footer-social-icon" alt="github logo" />
                </a>  
              </li>
            </ul>
          </div>
        </div>
</footer>



<!-- bootstrap scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
      integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
      crossorigin="anonymous"
    ></script>
</body>
</html>