<!-- begin navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-darker" id="primary-nav">
<!-- logo -->   
  <a class="navbar-brand" href="/">
    <img
      class="navbar-logo"
      src="/images/logo_v2_small.svg"
      alt="Frosty CMS Logo"
  /></a>
<!-- toggle button -->  
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- registration and login -->
    <ul class="navbar-nav flex-nowrap ml-auto">
      <% if(!currentUser){ %>
      <li class="nav-item">
        <a href="/register" class="btn btn-outline-success mr-2" role="button">Register</a>
        <span class="sr-only">Register</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/login">
              Login
              <span class="sr-only">Login</span></a>
      </li>              
      <% } else { %>
      <!-- new post button: not visible if you are a reader -->
      <% if(currentUser.role != "Reader"){ %>
      <li class="nav-item">
        <a class="btn btn-outline-success nav-item mr-2" href="/blogs/new" role="button"> +New Post</a>
      </li>
      <% } %>
      <li class="nav-item">
          <a class="nav-link mr-2" href="/users/<%= currentUser.id %>/profile">
              <u><%= currentUser.username %></u>
              <span class="sr-only"><%= currentUser.username %></span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link mr-2" href="/logout">
              Logout
              <span class="sr-only">Logout</span></a>
      </li>
      <!-- settings icon: not visible if you are a reader -->
      <% if(currentUser.role != "Reader"){ %>
        <li class="nav-item">
          <a href="/settings/dashboard"><i class="material-icons md-36">settings</i></a>   
        </li>  
      <% } %>  
      <% } %>
    </ul>
  </div>
</nav>

