<!-- begin navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/posts"
        ><img
          src="public/images/logo1.svg"
          width="40"
          height="40"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <a class="btn btn-outline-success ml-auto mr-2" href="/posts/new" role="button"> +New Post</a>
        <ul class="navbar-nav ml-2 flex-nowrap">
          <li class="nav-item">
            <a class="nav-link" href="/register"
              >Register<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"
              >Login<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

