<!-- grid container start-->
<div class="settings-grid-container grid-padding">


        <!-- settings grid zone one start -->
        <div class="settings-grid-one">
            <!-- bootstrap nav layout -->
            
            <ul class="nav mb-0" id="settings-nav">
                <li class="nav-item">
                    <a href="/settings/dashboard" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">dashboard</i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/settings/blogs" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">ballot</i>
                        Blogs
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/settings/comments" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">chat</i>
                        Comments
                    </a>
                </li>
                <!-- Users only available to Administrators and Editors -->
                <% if(currentUser.role === "Administrator" || currentUser.role === "Editor"){ %>
                <li class="nav-item">
                    <a href="/settings/users" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">face</i>
                        Users
                    </a>
                </li>
                <% } %>
                <!-- General only available to Administrators -->
                <% if(currentUser.role === "Administrator"){ %>
                <li class="nav-item">
                    <a href="/settings/general" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">settings</i>
                        General
                    </a>
                </li>
                <% } %>
            </ul> 
           
         <!-- settings grid zone one end -->    
        </div>
        


<!-- settings grid container end located at end of settings content templates -->  
