<!-- begin vertical settings nav 
<div class="flex-column col-2 h-100 bg-secondary shadow">
    <button type="button" class="btn btn-primary btn-block" href="/settings/blogs" data-toggle="buttons">Blogs</button>
    <button type="button" class="btn btn-primary btn-block" href="/settings/general" data-toggle="buttons">Settings</button>
</div>   
-->  
  
<ul class="nav flex-column mb-0 col-2 h-100 shadow" id="settings-nav">
    <li class="nav-item">
        <a href="/settings/blogs" class="nav-link text-light bg-dark">
                <i class="material-icons settings-menu-icons">ballot</i>
                Blogs
        </a>
    </li>
    <li class="nav-item">
        <a href="/settings/general" class="nav-link text-light bg-dark">
                <i class="material-icons settings-menu-icons">settings</i>
                General
        </a>
    </li>
</ul>    