<!-- grid container start-->
<div class="settings-grid-container grid-padding">


        <!-- settings grid zone one -->
        <div class="settings-grid-one">
            <!-- bootstrap items -->
            <ul class="nav flex-column mb-0 col-2 h-100 shadow" id="settings-nav">
                <li class="nav-item">
                    <a href="/settings/blogs" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">ballot</i>
                        Blogs
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/settings/general" class="nav-link text-light bg-dark">
                    <i class="material-icons settings-menu-icons">settings</i>
                        General
                    </a>
                </li>
            </ul>    
        </div>
        


<!-- settings grid container end located at end of settings content templates -->  
