<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<!-- begin content -->
    <!-- fixed width container for content -->
    <div class="container-lg mt-5">
    <h1 class="settings-title">New Blog</h1>
        <!--input for title, author, image, content -->
        <form action="/blogs" method="POST">

            <div class="form-group">
                <label for="featuredImageURL">
                    <h4>Featured Image URL</h4>
                </label>
                <input type="text" class="form-control" id="featuredImageURL" name="blog[image]">
                <small id="imageHelp" class="form-text text-muted">Paste URL of a hosted image. Will create media database in future update.</small>
            </div>

            <div class="form-group">
                <label for="titleInput">
                    <h4>Title</h4>
                </label>
                <input type="text" class="form-control" id="titleInput" placeholder="Enter Post Title" name="blog[title]">
            </div>

            <div class="form-group">
                <label for="authorInput">
                    <h4>Author</h4>
                </label>
                <input type="text" class="form-control" id="authorInput" placeholder="Enter Author Name" name="blog[author]">
            </div>
            
            <div class="form-group">
                <label for="dateInput">
                    <h4>Date</h4>
                </label>
                <input type="date" class="form-control" id="dateInput" name="blog[date]">
                <small id="dateInputHelp" class="form-text text-muted">If left blank will default to current date.</small>
            </div>
            
            <div class="form-group">
                <label for="shortDescriptionInput">
                    <h4>Short Description</h4>
                </label>
                <textarea class="form-control" id="shortDescriptionInput" rows="3" placeholder="A short description of your content..." name="blog[short]"></textarea>
                <small id="shortDescriptionHelp" class="form-text text-muted">This short description will be visible on the homepage.</small>
            </div>

            <div class="form-group">
                <label for="contentInput">
                    <h4>Content</h4>
                </label>
                <textarea class="form-control" id="contentInput" rows="3" placeholder="Content goes here..." name="blog[content]"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


<%- include("partials/footer.ejs") %>