<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<!-- begin content -->
    <!-- fixed width container for content -->
    <div class="container-lg mt-5">

        <!--input for title, author, image, content -->
        <form action="/posts" method="post">

            <div class="form-group">
                <label for="featuredImageURL">
                    <h4>Featured Image URL</h4>
                </label>
                <input type="text" class="form-control" id="featuredImageURL" name="image">
                <small id="imageHelp" class="form-text text-muted">Paste URL of a hosted image. Will create media database in future update.</small>
            </div>

            <div class="form-group">
                <label for="titleInput">
                    <h4>Title</h4>
                </label>
                <input type="text" class="form-control" id="titleInput" placeholder="Enter Post Title" name="title">
            </div>

            <div class="form-group">
                <label for="authorInput">
                    <h4>Author</h4>
                </label>
                <input type="text" class="form-control" id="authorInput" placeholder="Enter Author Name" name="author">
            </div>

            <div class="form-group">
                <label for="contentInput">
                    <h4>Content</h4>
                    </h4>
                </label>
                <textarea class="form-control" id="contentInput" rows="3" placeholder="Content goes here..." name="content"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


<%- include("partials/footer.ejs") %>