<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<%- include("partials/settings-bar.ejs") %>


<!-- begin content -->
    <!-- fixed width container for content -->

<div class="container-lg mt-5">    
    <div class="col-6 settings-content">
        <h1>General Settings will go here</h1>
    </div>
</div>


<%- include("partials/footer.ejs") %>