


/************************************************/
/* BASIC FORMATTING  */
/************************************************/

/* body must be set to 100% height so that settings column can fill the height of the parent */
html,body {
  height: 100%;
}

/* Settings Grid*/
.settings-grid-container{
    display:grid;
    
    grid-template-rows: 100vh auto;
    grid-template-columns: minmax(100px, 20vw) auto;
    
    grid-template-areas: "sidebar content"
                          "footer footer";
}

.settings-grid-container.grid-padding{
    padding: 0;
}

/* grid-area: grid-row-start, grid-column-start, grid-row-end, grid-column-end*/
.settings-grid-one{
    grid-area: 1/1/2/2;
    background-color: #3d4349;
}

.settings-grid-two{
    grid-area: 1/2/2/3;
}

.settings-grid-three{
    grid-area: 2/1/3/3;
}

.spacer-60px{
  height: 60px;
}

.push{
  margin-left:auto;
}

.single-blog-container{
  height: 100%;
}

/************************************************/
/* NAVBAR  */
/************************************************/

/* Primary Navbar*/
#primary-nav{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    z-index: 2;
}

/* Navbar Collapse Content*/
.navbar-collapse {
    margin: 1em;
}

.bg-darker {
    background-color: #26272b;
}

/************************************************/
/* SETTINGS NAVBAR  */
/************************************************/

/* Settings Navbar*/
#settings-nav {
    width:inherit;
    height:inherit;
    flex-direction: column;
    align-items: stretch;
    padding-right: 0px;
    position: relative;
}

/************************************************/
/* SETTINGS CONTENT  */
/************************************************/

/* Settings Content*/
.settings-title{
    padding-bottom: 30px;
}

/* Settings Tables*/
.settings-table-image{
    height: 40px;
}

.settings-table-id{
    color: gray;
}

.settings-widget-left{
  margin-right: -15px;
  /*border-right: 1px solid rgba(0,0,0,.125);*/
}

.settings-widget-right{
  padding-left: 0px;
}

/* the big number in the widgets */
.dashboard-widget-number{
  font-size: 6em;
  font-weight: 600;
}

/************************************************/
/* LOGOS  */
/************************************************/

/* Navbar Logos*/
.navbar-logo {
    height: 50px;
}

/* Login Logo*/
.login-logo {
    height: 100px;
}

.footer-logo {
  height:18px;
}

.footer-social-logo {
  width: 24px;
}

/************************************************/
/* PROFILE PICTURES  */
/************************************************/

.default-user-logo {
    height: 36px;
}

/* User Profile Photo */
.profile-photo {
  background-color: #26272b;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: .25em;
}

.navbar-profile-photo {
  background-color: #26272b;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.dashboard-blog-image{
  height: 36px;
}


/************************************************/
/* TEXT  */
/************************************************/

/* Vertically Center Index Author Text*/
.index-author{
  display: inline;
  vertical-align: middle;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 600;
}

h3{
  font-weight: 600;
}

h4{
  font-weight: 400;
}

h5{
  font-weight: 400;
}

h6{
  font-weight: 400;
}

.footer-text{
  color: #665f5f;
  margin-bottom: 0;
}

.footer-text a {
  color:#84836e;
}

/************************************************/
/* ALERTS  */
/************************************************/

/* Alert Wrapper to center alert*/
.alert-wrapper {
  position: absolute;
  top: 0px; 
  left: 50%;
  z-index:9999;
}

/* Alert Box*/
.alert-fixed {
    position: relative; 
    left: -50%;
    border-radius:0px
}


/************************************************/
/* ICONS  */
/************************************************/

/* Icons*/
i{
  vertical-align:middle;
} 

.settings-menu-icons {
    font-size: 1rem;
}

.navbar-settings-icon {
    padding-left: 10px;
}

/* Material Design Icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { 
    font-size: 36px;
    top: 8px;
    position: relative;
    }
.material-icons.md-48 { font-size: 48px; }




/************************************************/
/* FOOTER  */
/************************************************/

.footer-wrapper{
  align-items: center;
}









/* TESTING */
/*

* { 
    border: 1px solid red !important; 
}

*/