/* body must be set to 100% height so that settings column can fill the height of the parent */
html,body {
  height: 100%;
}

/* Primary Navbar*/
#primary-nav{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    z-index: 2;
}

/* Navbar Collapse Content*/
.navbar-collapse {
    margin: 1em;
}

/* Navbar Logo*/
.navbar-logo {
    height: 50px;
}

/* Alert Wrapper to center alert*/
.alert-wrapper {
  position: absolute;
  top: 0px; 
  left: 50%;
  z-index:9999;
}

/* Alert Box*/
.alert-fixed {
    position: relative; 
    left: -50%;
    border-radius:0px
}

/* Login Logo*/
.login-logo {
    height: 100px;
}

.bg-darker {
    background-color: #26272b;
}

/* Settings Grid*/
.settings-grid-container{
    display:grid;
    grid-template-columns: minmax(100px, 20vw) auto;
    grid-template-rows: 100vh;
}

.settings-grid-container.grid-padding{
    padding: 0;
}

/* grid-area: grid-row-start, grid-column-start, grid-row-end, grid-column-end*/
.settings-grid-one{
    grid-area: 1/1/2/2;
    background-color: #3d4349;
}

.settings-grid-two{
    grid-area: 1/2/2/3;
}

/* Settings Navbar*/
#settings-nav {
    width:inherit;
    height:inherit;
    flex-direction: column;
    align-items: stretch;
    padding-right: 0px;
    position: relative;
}

/* Settings Content*/
.settings-title{
    padding-bottom: 30px;
}

/* Settings Tables*/
.settings-table-image{
    height: 40px;
}

.settings-table-id{
    color: gray;
}

/* Icons*/
i{
  vertical-align:middle;
} 

.settings-menu-icons {
    font-size: 1rem;
}

.navbar-settings-icon {
    padding-left: 10px;
}

/* Material Design Icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { 
    font-size: 36px;
    top: 4px;
    position: relative;
    }
.material-icons.md-48 { font-size: 48px; }


/* FOOTER */
.footer-spacer {
    height:1px;
}

.site-footer
{
  background-color:#26272b;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.footer-social-icon {
    width: 24px;
}

/* TESTING */
/*

* { 
    border: 1px solid red !important; 
}

*/